@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-regular-webfont.eot") format("embedded-opentype"), url("../fonts/lato/lato-regular-webfont.woff") format("woff"), url("../fonts/lato/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato/lato-regular-webfont.svg#latoregular") format("svg"); }
@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/lato/lato-light-webfont.eot") format("embedded-opentype"), url("../fonts/lato/lato-light-webfont.woff") format("woff"), url("../fonts/lato/lato-light-webfont.ttf") format("truetype"), url("../fonts/lato/lato-light-webfont.svg#latolight") format("svg"); }
/*
 * Mixins to easily deal with every browser
 * From https://developer.mozilla.org/en-US/docs/Inbox/Advanced_layouts_with_flexbox
 */
.center {
  text-align: center; }

.btn, .btn-medium, .btn-big {
  display: inline-block;
  padding: 12px 25px;
  background-color: #ddd;
  border: solid #c4c4c4 1px;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer; }
  .btn:hover, .btn-medium:hover, .btn-big:hover {
    background-color: #eaeaea; }

.btn-medium {
  padding: 6px 12px;
  font-size: 1rem; }

.btn-big {
  text-transform: uppercase;
  font-size: 1.4rem; }

.btn-primary {
  background-color: #83886C;
  border-color: #686c55; }
  .btn-primary:hover {
    background-color: #909579; }
  .btn-primary, .btn-primary:hover, .btn-primary:visited {
    color: black; }

.btn-secondary {
  background-color: #43372E;
  border-color: #251e19; }
  .btn-secondary:hover {
    background-color: #524338; }
  .btn-secondary, .btn-secondary:hover, .btn-secondary:visited {
    color: white; }

.valign-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .flex > .col2 {
    width: 48%;
    padding: 1%; }
  .flex > .col3 {
    width: 30%;
    padding: 1.66%; }
  .flex > .col4 {
    width: 21%;
    padding: 2%; }

.overflow-x {
  overflow-x: auto; }

@media screen and (max-width: 642px) {
  main > header {
    margin: 1%; }

  .flex {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .flex > .col2,
    .flex > .col3,
    .flex > .col4 {
      width: 98%;
      padding: 1%;
      margin-bottom: 12px; } }
body {
  margin: 0;
  font-family: lato, "Helvetica Neue",Helvetica,sans-serif;
  background-image: url("../images/blur.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

p {
  line-height: 1.1; }

a,
a:visited {
  color: #333; }

a:hover {
  color: #555; }

h1,
h2,
h3 {
  line-height: 1.4;
  margin: 0; }

section {
  margin: 2%;
  border-radius: 3px; }
  section h2 {
    font-size: 2rem; }

header {
  text-align: center; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul li {
    padding: 5px 0; }

footer {
  text-align: center; }
  footer p,
  footer a,
  footer a:visited {
    color: white; }

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse; }
  table th:first-child {
    text-align: left; }
  table td,
  table th {
    padding: 5px; }
  table tbody tr:nth-child(odd) {
    background-color: #eee; }

#nodes-table thead th {
  cursor: pointer; }

.chart-container {
  position: relative;
  margin-bottom: 12px; }
  .chart-container #y-axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px; }
  .chart-container #chart {
    margin-left: 30px; }

#menu {
  position: fixed;
  top: 12rem;
  left: 0;
  padding: 3px 6px; }
  #menu a {
    color: black; }
    #menu a:hover {
      color: #555; }
  #menu .close-drawer {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    text-decoration: none; }

#drawer-icon {
  display: none;
  position: absolute;
  top: 2.3rem;
  left: 3%;
  width: 25px;
  height: 25px;
  background: url("../images/toggle_menu.png") no-repeat center center; }

@media screen and (max-width: 1360px) {
  #menu {
    top: 0.5rem; } }
@media screen and (max-width: 642px) {
  #drawer-icon {
    display: block; }

  #menu {
    left: -200px;
    transition: transform ease 500ms; }
    #menu .close-drawer {
      display: block; }

  #drawer-opened:target #menu {
    transform: translateX(200px); } }
main {
  max-width: 1200px;
  margin: auto; }

section > header {
  background-color: #ddd;
  padding: 1rem; }
section > div {
  padding: 1rem;
  color: #333; }

.tile {
  border: solid #ccc 1px;
  background-color: white;
  box-shadow: 0 0 4px -3px black; }

.main-header .main-title {
  margin: 2rem; }
  .main-header .main-title h1 {
    font-size: 4rem; }
    .main-header .main-title h1 a {
      color: black;
      text-decoration: none; }
  .main-header .main-title h2 {
    font-size: 1.7rem; }
.main-header .tile {
  font-size: 2.5rem;
  min-height: 150px;
  line-height: 1.3;
  padding: 1rem; }
  .main-header .tile strong {
    font-size: 2rem;
    display: block; }

@media screen and (max-width: 642px) {
  .main-header .main-title h1 {
    font-size: 2rem; }
  .main-header .main-title h2 {
    font-size: 1.4rem; } }

/*# sourceMappingURL=site.css.map */
