# Set to either 'prod' or 'local'
TARGET_ENV=prod

# You must set a secret key
DJANGO_SECRET_KEY=

# Set a custom postgres password if required
POSTGRES_PASSWORD=postgres

# Set to 'True' if doing local testing - never in production!!
DJANGO_DEBUG=False

# Tune amount of RQ workers
RQWORKER_NUM=5
