version: '3.1'

services:
  redis:
    image: redis

  app:
    image: a6543/the-federation_backend:latest
    depends_on:
      - redis
      - db
    environment:
      DATABASE_URL: postgres://thefederation:${POSTGRES_PASSWORD:-thefederation}@db:5432/thefederation
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY:-topsecret}
      DJANGO_ALLOWED_HOSTS: "app"
      DJANGO_SECURE_SSL_REDIRECT: "False"
      THEFEDERATION_HTTPS: "False"
      TARGET_ENV: local
      THEFEDERATION_DOMAIN: ${THEFEDERATION_DOMAIN:-localhost}
      RQWORKER_NUM: ${RQWORKER_NUM:-1}

  web:
    image: a6543/the-federation_frontend:latest
    depends_on:
      - app
    ports:
      - "0.0.0.0:8123:80"

  db:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-thefederation}
      POSTGRES_USER: thefederation
      POSTGRES_DB: thefederation
    volumes:
      - ./dbdata:/var/lib/postgresql/data

  graphql-engine:
    image: hasura/graphql-engine:v2.16.1.cli-migrations-v3
    ports:
    - "8090:8080"
    depends_on:
    - "db"
    restart: always
    volumes:
      - ./hasura/project/migrations:/hasura-migrations
      - ./hasura/project/metadata:/hasura-metadata
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://thefederation:${POSTGRES_PASSWORD:-thefederation}@db:5432/thefederation
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: guest
      ## postgres database to store Hasura metadata
      # HASURA_GRAPHQL_METADATA_DATABASE_URL: postgres://thefederation:${POSTGRES_PASSWORD}@db:5432/postgres
      ## this env var can be used to add the above postgres database to Hasura as a data source. this can be removed/updated based on your needs
      # PG_DATABASE_URL: postgres://thefederation:${POSTGRES_PASSWORD}@db:5432/postgres
      ## enable the console served by server
      HASURA_GRAPHQL_ENABLE_CONSOLE: ${HASURA_GRAPHQL_DEV_MODE:-true} # set to "false" to disable console
      ## enable debugging mode. It is recommended to disable this in production
      HASURA_GRAPHQL_DEV_MODE: ${HASURA_GRAPHQL_DEV_MODE:-true}
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      ## uncomment next line to run console offline (i.e load console assets from server instead of CDN)
      # HASURA_GRAPHQL_CONSOLE_ASSETS_DIR: /srv/console-assets
      ## uncomment next line to set an admin secret
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET:-myadminsecretkey}
