---
- name: Deploy the-federation.info
  hosts: host
  become: yes
  become_user: root

  roles:
    - { role: geerlingguy.pip, pip_install_packages: ["docker", "docker-compose"], tags: ["docker"] }
    - { role: geerlingguy.docker, tags: ["docker"] }
    - { role: jaywink.letsencrypt, letsencrypt_email: mail@example.com, letsencrypt_pause_services: ["apache2"], letsencrypt_domain: "dev.the-federation.info", letsencrypt_request_www: false, letsencrypt_force_renew: false, tags: ["ssl"] }

  tasks:
    - apt: name=git
    - name: Thefederation user
      user: name="thefederation" state=present
    - name: Ensure github.com is a known host
      lineinfile:
        dest: /home/thefederation/.ssh/known_hosts
        create: yes
        state: present
        line: "{{ lookup('pipe', 'ssh-keyscan -t rsa github.com') }}"
        regexp: "^github\\.com"
      become_user: thefederation

    - name: Get latest application code
      git: accept_hostkey=yes dest=/home/thefederation/thefederation repo="https://github.com/thefederationinfo/the-federation.info.git" force=yes version="rewrite"
      become_user: thefederation
      tags:
        - app

    - name: Install apache
      apt: name=apache2

    - name: Apache proxy module
      apache2_module: state=present name=proxy

    - name: Apache additional modules
      apache2_module: state=present name={{ item }}
      with_items:
        - ssl
        - proxy_http

    - name: Apache site
      template: dest=/etc/apache2/sites-available/dev.the-federation.info.conf src=docker/apache.conf

    - name: Enable site
      command: a2ensite dev.the-federation.info

    - name: Restart apache
      service: name=apache2 state=restarted

    - name: Copy .env file
      template: dest=/home/thefederation/thefederation/.env src=.env.prod.example mode=0600

    - name: Set secret key
      lineinfile:
        path: /home/thefederation/thefederation/.env
        regexp: '^DJANGO_SECRET_KEY='
        line: 'DJANGO_SECRET_KEY='   # SET ME TO SOMETHING
      tags:
        - app

    - name: Set db connection
      lineinfile:
        path: /home/thefederation/thefederation/.env
        regexp: '^DATABASE_URL='
        line: 'DATABASE_URL=postgres://thefederation:<PASSWORD>@<DBHOST>:5432/thefederation'
      tags:
        - app

    - name: Set db host
      lineinfile:
        path: /home/thefederation/thefederation/.env
        regexp: '^DBHOST='
        line: 'DBHOST=<DBHOST>'
      tags:
        - app

    - name: Set socialhome api key
      lineinfile:
        path: /home/thefedrewrite/thefederation/.env
        regexp: '^THEFEDERATION_SOCIALHOME_KEY='
        line: 'THEFEDERATION_SOCIALHOME_KEY='
      tags:
        - app

    - docker_service:
        project_src: /home/thefederation/thefederation
        build: yes
      register: output
      tags:
        - app

    - debug:
        var: output
      tags:
        - app
