head
    title the federation - a statistics hub
    meta(property='og:title', content='the federation - a statistics hub')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://the-federation.info/')
    meta(property='og:description', content='Podlist and statistics for The Federation (diaspora*, Friendica, Redmatrix).')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include ../vendor/css/footable.core.min.css
    include ../vendor/css/footable.standalone.min.css
    include ../vendor/css/hubinfo.min.css
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css')
    include ../vendor/css/rickshaw.min.css
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/floatthead/1.2.10/jquery.floatThead.min.js')
    include ../vendor/js/rickshaw.min.js
    include ../vendor/js/footable.min.js
    include ../vendor/js/footable.sort.js
    include ../vendor/js/hubinfo.min.js
    script(src='https://blockchain.info/Resources/wallet/pay-now-button.js')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')

    style.
        table.floatThead-table {
            border-top: none;
            border-bottom: none;
        }   

body(style="background-color: rgb(238, 238, 238);")
    div(style="padding: 5px 15px; margin: 15px; background-color: white; border-radius: 6px;")
        h1
            a(href="http://the-federation.info", style="color:inherit")
                img(src="/images/diaspora.png")
                | the federation - a statistics hub

        h2 network statistics
        p Total counts from monitored pods from the last check.
        
        include globalstats.jade
        
        p
            em.small Disclaimer: These counts reflect only a part of the network due to the opt-in nature of the statistics.
            
        h3 network history
        include networkcharts.jade
        include activecharts.jade

        h2 list of pods
        
        p When choosing a pod make sure to consider not only network location (<em>Country</em>) and pod version, but also what cross posting services it offers (if you wan't to cross post to other social networks).
        
        p Notes about the <em>Services</em> column.
            ul
                li There is a bug currently that causes the services to be listed as not enabled for any pods that have configuration set as environment variables. This is why the services column is mostly empty at the moment.
                li Keys:
                    ul
                        li fb = facebook
                        li tw = twitter
                        li tu = tumblr
                        li wp = wordpress

        include podlist.jade
        
        p Find more pods at <a href="http://podupti.me">podupti.me</a>, <a href="http://diapod.net/active">diapod.net</a>, <a href="http://dir.friendica.com/siteinfo">dir.friendica.com</a> and <a href="http://redstats.tarine.net/">redstats.tarine.net</a>.
        
        p
            em.small Disclaimer: This pod list is in no way an official list of diaspora* pods and Friendica/Redmatrix hubs. Also it does not contain all of the pods or hubs in those networks. Due to the distributed way these networks work, it is not possible to even make a list of all pods and hubs.
            
        h3 pod graphs
        include charts.jade

        div(style="clear: both")
        
        h2 what is the federation?
        p A loving term for three awesome decentralized social media projects.
        small TODO: link post where it was mentioned for the first time, give credit, and longer explanation. Sorry this site renewal is under construction.
        
        h3 what is diaspora*?
        p Diaspora* is an awesome decentralized open source social network full of really cool people. Instead of being owned and controlled by a single corporation, all the pods (servers) in the diaspora* network are totally independent and controlled usually by single individuals. The project, which is run by a community of volunteers, builds the software which is free to use by anyone. You can easily run a pod yourself too, or if you don't want to, check out some of the open pods listed here and go create an account!
        p
            a(href="https://diasporafoundation.org") Find out more about diaspora* from the official project pages.

        h3 what is friendica?
        p See http://friendica.com/
        
        h3 what is redmatrix?
        p See https://redmatrix.me/

        h2 what is this hub?
        p The statistics hub is a piece of software that <a href="https://www.loomio.org/discussions/9190">was proposed</a> by <a href="https://iliketoast.net/u/jaywink">myself</a> as an official project pod list resource that would automatically pull in data from opt-in pods. The user and post count data here is opt-in for podmins and needs to be activated in pod settings. The idea is to generate some feel towards how many of us diasporians (and later, friendicans and redmatrixians!) there really are.
        p The code is <a href="https://github.com/jaywink/diaspora-hub">in GitHub</a> under AGPLv3. Please file bugs and ideas there if you want to - and of course pull request are welcome too. This is very much work in progress.

        h3 how do I get my instance listed?
        p For diaspora*, if your pod runs 0.3.0.0 or newer, you already have the code! Go to <code>https://&lt;yourpod.tld&gt;/statistics.json</code> to verify it works. It is suggested to also activate the counts, which is done by editing the <a href="https://github.com/diaspora/diaspora/commit/0fb962cd1d942a04f3b58ed0174ba3eb7776b05f#diff-72093d13f77e805ad8de330c99e6c73eR195">relevant configuration</a> and restarting your diaspora* pod.
        p For registering your pod with this hub, go to <code>http://the-federation.info/register/&lt;yourpod.tld&gt;</code>. After some seconds, you should see your pod added. After that, daily updates happen once per 24 hours (some minutes past midnight EET).
        p For Friendica and Redmatrix, information TBA.
        
        h3 under the hood
        p Full stack JavaScript power:
        ul
            li <a href="http://nodejs.org/">Node.js</a> with <a href="http://expressjs.com">Express</a>, <a href="https://github.com/ctavan/express-validator">Express-validator</a>, <a href="http://dresende.github.io/node-orm2/">Object Relational Mapping</a> (database), <a href="https://npmjs.org/package/node-schedule">Node-schedule</a> and <a href="http://jade-lang.com">Jade</a> (templating)
            li The graphs are powered by the awesome <a href="http://code.shutterstock.com/rickshaw/">Rickshaw</a> library which is in turn powered by <a href="http://d3js.org/">D3</a>
            li The podlist table is powered by <a href="http://fooplugins.com/plugins/footable-jquery/">Footable</a>
            li The general theme is <a href="http://getbootstrap.com/">Twitter Bootstrap</a>
            li Country flags are by Mark James at <a href="http://www.famfamfam.com/lab/icons/flags/" target="_blanc">famfamfam.com</a>
            
        h3 show some love
        include donations.jade
        
        h3 code stats
        p
            #hubinfo(style="width:400px;")
            br
            #ohlohinfo
                script(src="http://www.ohloh.net/p/711145/widgets/project_basic_stats.js")

        script.
            $(function() {
                $('.footable').footable().floatThead();
                $("#hubinfo").hubInfo({ 
                    user: "jaywink",
                    repo: "diaspora-hub"
                });
            });

        p.text-center built with &lt;3 by <a href="https://iliketoast.net/u/jaywink">jason robinson</a> and <a href="https://github.com/jaywink/diaspora-hub/graphs/contributors">contributors</a>
