
style.
    .rickshaw_graph .detail .x_label { display: none }
    .rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
    .rickshaw_graph .detail .date { color: #a0a0a0 }

#networkchart_container
    #networkchart
    #legend_container(style="margin-left: auto; margin-right: auto; margin-top: 20px; width: 0; position: static;")
        #smoother
        #networklegend
    
script.
    $(function() {
        var networkchart = new Rickshaw.Graph.Ajax({
            element: document.querySelector('#networkchart'),
            dataURL: '/stats/global',
            width: $(window).width()-60,
            height: 500,
            renderer: 'multi',
            onComplete: function(transport) {
                var graph = transport.graph;
                var detail = new Rickshaw.Graph.HoverDetail({
                    graph: graph,
                    xFormatter: function(x) {
                        return new Date((x+7200)*1000).toDateString();
                    },
                    formatter: function(series, x, y) {
                        var date = '<span class="date">' + new Date((x+7200) * 1000).toDateString() + '</span>';
                        var content = series.name + ": " + parseInt(y) + '<br>' + date;
                        return content;
                    }
                });
                var legend = new Rickshaw.Graph.Legend({
                    graph: graph,
                    element: document.getElementById('networklegend')
                });
                var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
                    graph: graph,
                    legend: legend
                });
                var xAxis = new Rickshaw.Graph.Axis.Time({
                    graph: graph
                });
                xAxis.render();
            }
        });
    });
