<h2>what is the federation?</h2>
<p>
    A loving term for three awesome decentralized social media projects.
</p>

<h3>what is diaspora*?</h3>
<p>
    Diaspora* is an awesome decentralized open source social network full of really cool people. Instead of being owned and controlled by a single corporation, all the pods (servers) in the diaspora* network are totally independent and controlled usually by single individuals. The project, which is run by a community of volunteers, builds the software which is free to use by anyone. You can easily run a pod yourself too, or if you don't want to, check out some of the open pods listed here and go create an account!
</p>
<p>
    <a href="https://diasporafoundation.org">Find out more about diaspora* from the official project pages.</a>
</p>

<h3>what is friendica?</h3>
<p>See <a href="http://friendica.com/">http://friendica.com/</a></p>

<h3>what is hubzilla?</h3>
<p>See <a href="http://hubzilla.org/">http://hubzilla.org/</a></p>
