<h3>network history</h3>
<p>
    These charts are refreshed daily with new counts.
</p>
<p>
    {% include "charts/_network_active.njk" %}
</p>
<p>
    {% include "charts/_network_totals.njk" %}
</p>
