<h2>list of nodes</h2>

<p>
    When choosing a node make sure to consider not only network location (<em>Country</em>) and node version, but also what cross posting services it offers (if you wan't to cross post to other social networks).
</p>

<p>Notes about the <em>Services</em> column.</p>
<ul>
    <li>Keys:
        <ul>
            <li>fb = facebook</li>
            <li>tw = twitter</li>
            <li>tu = tumblr</li>
            <li>wp = wordpress</li>
        </ul>
    </li>
</ul>

{% include "_node_list_table.njk" %}

<p>
    Find more nodes at <a href="http://podupti.me">podupti.me</a>, <a href="http://diapod.net/active">diapod.net</a>, <a href="http://dir.friendica.com/siteinfo">dir.friendica.com</a> and <a href="http://redstats.tarine.net/">redstats.tarine.net</a>.
</p>

<p>
    <em><small>
        Disclaimer: This node list is in no way an official list of diaspora*, Friendica and Hubzilla nodes. Also it does not contain all of the nodes in those networks. Due to the distributed way these networks work, it is not possible to even make a list of all nodes.
    </small></em>
</p>

{% include "charts/_nodes.njk" %}
