<table id="nodes-table">
  <thead>
      <tr>
          <th>Software</th>
          <th>Name</th>
          <th>Version</th>
          <th>Open signups</th>
          <th>Total users</th>
          <th>Active users half year</th>
          <th>Active users monthly</th>
          <th>Local posts</th>
          <th>Local comments</th>
          <th>Services</th>
          <th>Country</th>
      </tr>
  </thead>
  <tbody>
      {% for pod in nodesData %}
          {% set pod = utils.formatNodeInfo(pod) %}
          <tr>
              <td>
              {% if pod.network in ["diaspora", "friendica", "hubzilla", "redmatrix", "ganggo"] %}
                  <img alt="{{pod.network}}" title="{{pod.network}}" src="images/{{pod.network}}-16.png" />
              {% endif %}
              </td>
              <td><a title="{{pod.name}}" href="/node/{{pod.host}}">{{pod.name}}</a></td>
              <td>{{pod.version}}</td>
              <td>{{pod.registrations_open}}</td>
              <td>{{pod.total_users}}</td>
              <td>{{pod.active_users_halfyear}}</td>
              <td>{{pod.active_users_monthly}}</td>
              <td>{{pod.local_posts}}</td>
              <td>{{pod.local_comments}}</td>
              <td>{{pod.services}}</td>
              <td>
                  {% if pod.country %}
                      <a href="http://countrycode.org/{{pod.country}}" target="_blank">
                        <img src="flags/{{pod.country|lower}}.png">
                      </a>
                  {% else %}
                      &nbsp;
                  {% endif %}
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>
<script src="/javascript/table-sort.js"></script>
<script type="text/javascript">
  window.addEventListener('load', function() {
    makeSortable(document.getElementById("nodes-table"));
  });
</script>
