<!doctype html>
<html lang="en">
<head>
    <title>the federation - a statistics hub</title>
    <meta charset="UTF-8" />
    <meta property="og:title" content="the federation - a statistics hub" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://the-federation.info/" />
    <meta property="og:description" content="Podlist and statistics for The Federation (diaspora*, Friendica, Hubzilla)." />
    <meta property="og:image" content="https://the-federation.info/images/the-federation.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/site.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    {% block content %}{% endblock content %}
    <footer>
        <p>
            Hosted with <3 by <a href="https://iliketoast.net/u/jaywink">Jason Robinson</a> -
            More about this project -
            Code <a href="https://github.com/jaywink/the-federation.info">on github</a>
        </p>
    </footer>
</body>
</html>
