<!doctype html>
<html lang="en" id="drawer-opened">
  <head>
      <title>the federation - a statistics hub</title>
      <meta charset="UTF-8" />
      <meta property="og:title" content="the federation - a statistics hub" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://the-federation.info/" />
      <meta property="og:description" content="Podlist and statistics for The Federation (diaspora*, Friendica, Hubzilla)." />
      <meta property="og:image" content="https://the-federation.info/images/the-federation.png" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" type="text/css" href="/stylesheets/site.css" />
      <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <a id="drawer-icon" href="#drawer-opened"></a>
    <nav id="menu" class="tile">
      <a class="close-drawer" href="#">x</a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/nodes">Nodes list</a></li>
        <li><a href="/diaspora">diaspora*</a></li>
        <li><a href="/friendica">Friendica</a></li>
        <li><a href="/hubzilla">Hubzilla</a></li>
        <li><a href="/info">About</a></li>
      </ul>
    </nav>

    {% block content %}{% endblock content %}
    <footer>
        <p>
            <a href="/info">About</a> - <a href="https://github.com/jaywink/the-federation.info" target="_blank">Source code</a>
        </p>
    </footer>
  </body>
</html>
