{% extends "base.njk" %}

{% block content %}
<main>
  <section class="tile">
    <header>
      <h2>List of the nodes composing The Federation</h2>
    </header>
    <div>
      {% include "_nodes_table.njk" %}
    </div>
  </section>
</main>
{% endblock content %}
