head
    title the federation - a statistics hub
    meta(property='og:title', content='the federation - a statistics hub')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://the-federation.info/')
    meta(property='og:description', content='Podlist and statistics for The Federation (diaspora*, Friendica, Hubzilla).')
    meta(property="og:image", content="https://the-federation.info/images/the-federation.png")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include ../vendor/css/footable.core.min.css
    include ../vendor/css/footable.standalone.min.css
    include ../vendor/css/hubinfo.min.css
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css')
    include ../vendor/css/rickshaw.min.css
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js')
    script(src='//d3js.org/d3.v3.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/floatthead/1.2.10/jquery.floatThead.min.js')
    include ../vendor/js/rickshaw.min.js
    include ../vendor/js/footable.min.js
    include ../vendor/js/footable.sort.js
    include ../vendor/js/hubinfo.min.js
    script(src='//blockchain.info/Resources/wallet/pay-now-button.js')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')

    style.
        table.floatThead-table {
            border-top: none;
            border-bottom: none;
        }

body(style="background-color: rgb(238, 238, 238);")
    div(style="padding: 5px 15px; margin: 15px; background-color: white; border-radius: 6px;")
        h1
            a(href="https://the-federation.info", style="color:inherit")
                img(src="/images/the-federation.png")
                span(style="padding-left: 30px;") the federation - a statistics hub

        h2 network statistics
        p Total counts from monitored pods from the last check.

        include globalstats

        p
            em.small Disclaimer: These counts reflect only a part of the network due to the opt-in nature of the statistics.

        h3 network history
        p
            include activecharts
        p
            include networkcharts

        h2 list of pods

        p When choosing a pod make sure to consider not only network location (<em>Country</em>) and pod version, but also what cross posting services it offers (if you wan't to cross post to other social networks).

        p Notes about the <em>Services</em> column.
            ul
                li Keys:
                    ul
                        li fb = facebook
                        li tw = twitter
                        li tu = tumblr
                        li wp = wordpress

        include podlist

        p Find more pods at <a href="http://podupti.me">podupti.me</a>, <a href="http://diapod.net/active">diapod.net</a>, <a href="http://dir.friendica.com/siteinfo">dir.friendica.com</a> and <a href="http://redstats.tarine.net/">redstats.tarine.net</a>.

        p
            em.small Disclaimer: This pod list is in no way an official list of diaspora* pods and Friendica/Hubzilla hubs. Also it does not contain all of the pods or hubs in those networks. Due to the distributed way these networks work, it is not possible to even make a list of all pods and hubs.

        h3 pod graphs
        include charts

        div(style="clear: both")

        h2 what is the federation?
        p A loving term for three awesome decentralized social media projects.
        small TODO: link post where it was mentioned for the first time, give credit, and longer explanation. Sorry this site renewal is under construction.

        h3 what is diaspora*?
        p Diaspora* is an awesome decentralized open source social network full of really cool people. Instead of being owned and controlled by a single corporation, all the pods (servers) in the diaspora* network are totally independent and controlled usually by single individuals. The project, which is run by a community of volunteers, builds the software which is free to use by anyone. You can easily run a pod yourself too, or if you don't want to, check out some of the open pods listed here and go create an account!
        p
            a(href="https://diasporafoundation.org") Find out more about diaspora* from the official project pages.

        h3 what is friendica?
        p See http://friendica.com/

        h3 what is hubzilla?
        p See http://hubzilla.org/

        h2 what is this hub?
        p The statistics hub is a piece of software that automatically statistics from opt-in pods. The user and post count data here is opt-in for podmins and needs to be activated in pod settings. The idea is to generate some feel towards how many of us diasporians, friendicans and hubzillians there really are.
        p The code is <a href="https://github.com/jaywink/the-federation.info">in GitHub</a> under AGPLv3. Please file bugs and ideas there if you want to - and of course pull request are welcome too.

        h3 can I get a copy of the data?
        p It's all available as JSON, feel free to use any data you want! I cannot guarantee the JSON will not change over time, though it should mostly stay stable. You can always let me know if you depend on some JSON feed and I'll make sure not to break it.
        p Here are the endpoints:
        ul
            li <a href="http://the-federation.info/pods.json">Pod list + global counts</a>
            li <a href="http://the-federation.info/stats/global_active_month">Global active users monthly history</a>
            li <a href="http://the-federation.info/stats/global_active_halfyear">Global active users half yearly history</a>
            li <a href="http://the-federation.info/stats/global_pod_count">Global pod counts history</a>
            li <a href="http://the-federation.info/stats/global_users">Global users history</a>
            li <a href="http://the-federation.info/stats/global_posts">Global posts history</a>
            li <a href="http://the-federation.info/stats/total_users">Per pod total users history</a>
            li <a href="http://the-federation.info/stats/active_users_halfyear">Per pod active users half year history</a>
            li <a href="http://the-federation.info/stats/active_users_monthly">Per pod active users monthly history</a>
            li <a href="http://the-federation.info/stats/local_posts">Per pod local posts history</a>

        p Please don't abuse these endpoints. They are refreshed <b>only once per day</b>, at 00:13 EET, so there is no need to bang them every 10 minutes for new data..

        h3 how do I get my instance listed?
        p For registering your pod with this hub, go to <code>https://the-federation.info/register/&lt;yourpod.tld&gt;</code>. After some seconds, you should see your pod added. After that, daily updates happen once per 24 hours (some minutes past midnight EET).
        p For Friendica and Hubzilla, information TBA.

        h3 under the hood
        p Full stack JavaScript:
        ul
            li <a href="http://nodejs.org/">Node.js</a> with <a href="http://expressjs.com">Express</a>, <a href="https://github.com/ctavan/express-validator">Express-validator</a>, <a href="http://dresende.github.io/node-orm2/">Object Relational Mapping</a> (database), <a href="https://npmjs.org/package/node-schedule">Node-schedule</a> and <a href="http://jade-lang.com">Jade</a> (templating)
            li The graphs are powered by the awesome <a href="http://code.shutterstock.com/rickshaw/">Rickshaw</a> library which is in turn powered by <a href="http://d3js.org/">D3</a>
            li The podlist table is powered by <a href="http://fooplugins.com/plugins/footable-jquery/">Footable</a>
            li The general theme is <a href="http://getbootstrap.com/">Twitter Bootstrap</a>
            li Country flags are by Mark James at <a href="http://www.famfamfam.com/lab/icons/flags/" target="_blanc">famfamfam.com</a>

        h3 show some love
        include donations

        h3 code stats
        p
            #hubinfo(style="width:400px;")

        script.
            $(function() {
                $('.footable').footable().floatThead();
                $("#hubinfo").hubInfo({
                    user: "jaywink",
                    repo: "the-federation.info"
                });
            });

        p.text-center built with &lt;3 by <a href="https://iliketoast.net/u/jaywink">jason robinson</a> and <a href="https://github.com/jaywink/the-federation.info/graphs/contributors">contributors</a>
