{% extends "base.njk" %}

{% block content %}
<main>
  <header class="main-header">
    <div class="main-title">
      <h1>{{texts.title}}</h1>
      <h2>{{texts.subtitle}}</h2>
    </div>
    <div class="flex">
      <div class="col4">
        <div class="tile valign-wrapper">
          {{globalData.nodes}} <strong>Nodes</strong>
        </div>
      </div>
      <div class="col4">
        <div class="tile valign-wrapper">
          {{globalData.users}} <strong>Users</strong>
        </div>
      </div>
      <div class="col4">
        <div class="tile valign-wrapper">
          {{globalData.local_posts}} <strong>Posts</strong>
        </div>
      </div>
      <div class="col4">
        <div class="tile valign-wrapper">
          {{globalData.local_comments}} <strong>Comments</strong>
        </div>
      </div>
    </div>
  </header>
  <section class="tile">
    <header>
      <h2>What is {{texts.title}}?</h2>
    </header>
    <div>
      <div class="flex">
        <div class="col2">
          <p>{{texts.description}}</p>
          <div class="flex">
              <div class="col2 center">
                  <a href="http://{{texts.website}}" class="btn btn-primary">Official website</a>
              </div>
              <div class="col2 center">
                  <a href="{{texts.github}}" class="btn">Source code</a>
              </div>
          </div>
        </div>
        <div class="col2">
          <ul>
            <li>Nodes: <strong>{{globalData.nodes}}</strong></li>
            <li>Users: <strong>{{globalData.users}}</strong></li>
            <li>Last 6 months users: <strong>{{globalData.active_users_halfyear}}</strong></li>
            <li>Last month users: <strong>{{globalData.active_users_monthly}}</strong></li>
            <li>Posts: <strong>{{globalData.local_posts}}</strong></li>
            <li>Comments: <strong>{{globalData.local_comments}}</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  {# #57 will make this dynamic by getting the last version from Github API#}
  {% if network == 'diaspora' %}
  <section class="tile">
    <header>
      <h2>Software version</h2>
    </header>
    <div>
      <p>The new version of the federation protocol is being deployed.
        The first part came with 0.6.0.0 and the second part with 0.6.3.0, that's why we're interested about these versions usage.</p>
      <table>
        <thead>
            <tr>
                <th>Version</th>
                <th>Nodes</th>
                <th>Users</th>
                <th>Monthly users</th>
            </tr>
        </thead>
        <tbody>
          <tr>
              <th>0.6.3.0 or newer</th>
              <td>{{versionStats.stats063.nodes}} ({{versionStats.stats063.nodesRatio}}%)</td>
              <td>{{versionStats.stats063.users}} ({{versionStats.stats063.usersRatio}}%)</td>
              <td>{{versionStats.stats063.monthlyUsers}} ({{versionStats.stats063.monthlyUsersRatio}}%)</td>
          </tr>
          <tr>
              <th>0.6.0.0 to 0.6.2.0</th>
              <td>{{versionStats.stats060.nodes}} ({{versionStats.stats060.nodesRatio}}%)</td>
              <td>{{versionStats.stats060.users}} ({{versionStats.stats060.usersRatio}}%)</td>
              <td>{{versionStats.stats060.monthlyUsers}} ({{versionStats.stats060.monthlyUsersRatio}}%)</td>
          </tr>
          <tr>
              <th>Older than 0.6.0.0</th>
              <td>{{versionStats.stats050.nodes}} ({{versionStats.stats050.nodesRatio}}%)</td>
              <td>{{versionStats.stats050.users}} ({{versionStats.stats050.usersRatio}}%)</td>
              <td>{{versionStats.stats050.monthlyUsers}} ({{versionStats.stats050.monthlyUsersRatio}}%)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  {% endif %}
  {% include "charts/_stats_with_selectors.njk" %}
  <section class="tile">
    <header>
      <h2>All {{texts.title}} nodes</h2>
    </header>
    <div class="overflow-x">
      {% include "_nodes_table.njk" %}
    </div>
  </section>
</main>
{% endblock content %}
