<div class="text-center">
    <div id="activemonthly_container" style="display: inline-block;">
        <h4>active users last 30 days</h4>
        <div id="activemonthlychart"></div>
        <script>
            $(function() {
                var activemonthlychart = new Rickshaw.Graph.Ajax({
                    element: document.querySelector('#activemonthlychart'),
                    dataURL: '/stats/global_active_month',
                    width: $(window).width()-160,
                    renderer: 'line',
                    height: 200,
                    onComplete: function(transport) {
                        var graph = transport.graph;
                        var detail = new Rickshaw.Graph.HoverDetail({
                            graph: graph,
                            xFormatter: function(x) {
                                return new Date((x+7200)*1000).toDateString();
                            },
                            formatter: function(series, x, y) {
                                var date = '<span class="date">' + new Date((x+7200) * 1000).toDateString() + '</span>';
                                var content = series.name + ": " + parseInt(y) + '<br>' + date;
                                return content;
                            }
                        });
                        var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
                            graph: graph,
                            legend: legend
                        });
                        var xAxis = new Rickshaw.Graph.Axis.Time({
                            graph: graph
                        });
                        xAxis.render();
                    }
                });
            });
        </script>
    </div>
</div>

<div class="text-center">
    <div id="activehalfyear_container" style="display: inline-block;">
        <h4>active users last six months</h4>
        <div id="activehalfyearchart"></div>
        <script>
            $(function() {
                var activehalfyearchart = new Rickshaw.Graph.Ajax({
                    element: document.querySelector('#activehalfyearchart'),
                    dataURL: '/stats/global_active_halfyear',
                    width: $(window).width()-160,
                    renderer: 'line',
                    height: 200,
                    onComplete: function(transport) {
                        var graph = transport.graph;
                        var detail = new Rickshaw.Graph.HoverDetail({
                            graph: graph,
                            xFormatter: function(x) {
                                return new Date((x+7200)*1000).toDateString();
                            },
                            formatter: function(series, x, y) {
                                var date = '<span class="date">' + new Date((x+7200) * 1000).toDateString() + '</span>';
                                var content = series.name + ": " + parseInt(y) + '<br>' + date;
                                return content;
                            }
                        });
                        var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
                            graph: graph,
                            legend: legend
                        });
                        var xAxis = new Rickshaw.Graph.Axis.Time({
                            graph: graph
                        });
                        xAxis.render();
                    }
                });
            });
        </script>
    </div>
</div>
