<h3>pod graphs</h3>

<div id="chart_selector">
    <input class="btn btn-primary btn-lg" type="button" data-item="total_users"  value="Total users" style="margin-right: 10px;">
    <input class="btn btn-primary btn-lg" type="button" data-item="active_users_halfyear" value="Active users (6 months)" style="margin-right: 10px;">
    <input class="btn btn-primary btn-lg" type="button" data-item="active_users_monthly" value="Active users (1 month)" style="margin-right: 10px;">
    <input class="btn btn-primary btn-lg" type="button" data-item="local_posts" value="Local posts (without reshares)" style="margin-right: 10px;">

    <script>
        var chart = null;
        $(function() {
            $('#chart_selector input').click(function (ev) {
                ev.preventDefault();
                $('#chart').html('').css('height', '500px');
                $('#legend_container #legend').html('');
                chart = drawChart($(ev.currentTarget).data('item'));
                $('#chart-item').html($(ev.currentTarget).data('item'));
                return false;
            });
        });
    </script>
</div>

<h3 id="chart-item"></h3>
<style>
    #legend li {
        display: table;
        float: left;
    }
    .rickshaw_legend .line {
        clear: none;
    }
</style>

<div id="chart_container">
    <div id="chart"></div>
    <div id="legend_container" style="margin-top: 20px;">
        <div id="smoother"></div>
        <div id="legend"></div>
    </div>
</div>

<script>
    function drawChart(dataItem) {
        return new Rickshaw.Graph.Ajax({
            element: document.querySelector('#chart'),
            dataURL: '/stats/'+dataItem,
            width: $(window).width()-60,
            height: 500,
            renderer: 'line',
            onComplete: function(transport) {
                var graph = transport.graph;
                var detail = new Rickshaw.Graph.HoverDetail({
                    graph: graph,
                    xFormatter: function(x) {
                        return new Date((x+7200)*1000).toDateString();
                    },
                });
                var legend = new Rickshaw.Graph.Legend({
                    graph: graph,
                    element: document.getElementById('legend')
                });
                var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
                    graph: graph,
                    legend: legend
                });
                var xAxis = new Rickshaw.Graph.Axis.Time({
                    graph: graph
                });
                xAxis.render();
                var yAxis = new Rickshaw.Graph.Axis.Y({
                    graph: graph
                });
                yAxis.render();
            }
        });
    }
</script>

<div style="clear: both"></div>
