<section class="tile">
    <header>
        <h2>Charts</h2>
    </header>

    <div>
        <div class="chart-container">
            <div id="y-axis"></div>
            <div id="chart"></div>
        </div>
        <div id="charts-buttons" class="flex-wrap">
            {% if globalData.nodes > 1 %}
                <div data-name="nodes" class="btn-medium">Nodes</div>
            {% endif %}
            <div data-name="users" class="btn-medium">Total users</div>
            <div data-name="active_users_halfyear" class="btn-medium">Last 6 months users</div>
            <div data-name="active_users_monthly" class="btn-medium">Last month users</div>
            <div data-name="local_posts" class="btn-medium">Posts</div>
            <div data-name="local_comments" class="btn-medium">Comments</div>
            {% if globalData.nodes > 1 %}
                <div data-name="users_per_node" class="btn-medium">Users per node</div>
            {% endif %}
            <div data-name="active_users_ratio" class="btn-medium">Active users ratio</div>
            <div data-name="posts_per_user" class="btn-medium">Posts per user</div>
            <div data-name="comments_per_user" class="btn-medium">Comments per user</div>
            <div data-name="new_users" class="btn-medium">New users</div>
            <div data-name="new_posts" class="btn-medium">New posts</div>
            <div data-name="new_comments" class="btn-medium">New comments</div>
        </div>
    </div>
</section>

<script src="/vendor/js/rickshaw.min.js"></script>
<script src="/vendor/js/d3.v3.min.js"></script>
<link rel="stylesheet" href="/vendor/css/rickshaw.min.css">
<script src="/javascript/chart-helper.js"></script>
<script type="text/javascript">
    function prepareData(data, selectedCriteria) {
        var preparedData = [];
        for (var i = 0; i < data.length; i++) {
            preparedData.push({x: data[i].timestamp, y: data[i][selectedCriteria]});
        }
        return preparedData;
    }

    window.addEventListener("load", function() {
        var allData = {{chartData | dump | safe }};
        var buttons = document.getElementById("charts-buttons").children;
        var chartData = {};
        for (var i = 0; i < buttons.length; i++) {
            var name = buttons[i].dataset.name;
            chartData[name] = prepareData(allData, name);
            buttons[i].addEventListener("click", function(ev) {
                for (var j = 0; j < buttons.length; j++) {
                    buttons[j].classList.remove("selected");
                }
                var el = ev.currentTarget;
                el.classList.add("selected");
                refreshChart(chart, el.textContent, chartData[el.dataset.name]);
            });
        }

        var firstButton = buttons[0];
        firstButton.classList.add("selected");
        var chart = initChart(document.getElementById("chart"), firstButton.textContent, chartData[firstButton.dataset.name]);
    });
</script>
