-r requirements.txt

coverage
django-debug-toolbar
django-querycount
django-test-plus
django_coverage_plugin
factory_boy
Faker
# lint + format, configured in ruff.toml
ruff
freezegun
# https://github.com/gotcha/ipdb/blob/master/HISTORY.txt#L24
ipdb<0.13.5
pytest
pytest-cov
pytest-django
pytest-env
pytest-sugar
Werkzeug
federation
