codecov
coverage
django-debug-toolbar
django-debug-toolbar-user-panel
django-querycount
django-test-plus
django_coverage_plugin
django
factory_boy
Faker
flake8
freezegun
ipdb
pip-tools
pytest
pytest-cov
pytest-django
pytest-env
pytest-sugar
tornado<5.0  # Not a direct requirement but we need to lock due to circus not working with 5.0
             # Remove from this file once circus works with this
Werkzeug
