-r requirements.txt

coverage
django-debug-toolbar
django-querycount
django-test-plus
django_coverage_plugin
factory_boy
Faker
# older flake8 conflicts with the pycodestyle pin from requirements.txt
flake8>=7
freezegun
# https://github.com/gotcha/ipdb/blob/master/HISTORY.txt#L24
ipdb<0.13.5
pytest
pytest-cov
pytest-django
pytest-env
pytest-sugar
Werkzeug
federation
