circus
django-countries
django-cors-headers
django-enumfields
django-environ
django-extensions
django-redis
django-rq
django<2.1
graphene_django
ipython
psycopg2-binary
raven
redis
rq
rq-scheduler
shcli
tornado<5.0  # Not a direct requirement but we need to lock due to circus not working with 5.0
             # Remove from this file once circus works with this
gunicorn
whitenoise

#federation
-e git+https://git.feneas.org/jaywink/federation.git@6985a49a9a7c0e3edbd44adc7568bd51fac7eb6c#egg=federation==0.18.0.1
