var config = {};

config.scheduler = {
    hour: 0,
    minute: 7
};

config.schedulerActivePodsSync = {
    hour: 6,
    minute: 15
};

config.email = {
    type: "smtp",
    host: "localhost",
    port: 25,
    username: "username",
    password: "password"
};

config.admin = {
    email: "admin@example.com"
};

module.exports = config;
