@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-regular-webfont.eot") format("embedded-opentype"), url("../fonts/lato/lato-regular-webfont.woff") format("woff"), url("../fonts/lato/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato/lato-regular-webfont.svg#latoregular") format("svg");
}

@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/lato/lato-light-webfont.eot") format("embedded-opentype"), url("../fonts/lato/lato-light-webfont.woff") format("woff"), url("../fonts/lato/lato-light-webfont.ttf") format("truetype"), url("../fonts/lato/lato-light-webfont.svg#latolight") format("svg");
}
